@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5af2f2;
}
body {
}

.navbar a:hover {
  color: var(--primary-color);
}

.products-carousel::-webkit-scrollbar,
.colllection-carousel::-webkit-scrollbar {
  width: 0;
}
